@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100;200;300;400;500;700&family=Noto+Sans:wght@100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100;200;300;400;500;700&family=Kanit:ital,wght@0,200;0,400;0,500;0,600;0,700;1,400&family=Pathway+Extreme:wght@100&display=swap');

.App {
  text-align: center;
  /* max-width: 1500px; */
}

:root {
  --green-color: #008080;
  --beige-color: #faf3dd;
  --top-color: #cdbdb6;
  --accordion-color: #9c918d;
}

body {
  /* font-family: 'Pathway Extreme', sans-serif; */
  font-family: 'Kanit', sans-serif;
  letter-spacing: 1.5px;
  height: 100vh;
}

body > div {
  width: 100%;
}

* {
  margin-top: 0;
}

.top-section {
  padding: 24px;
  background-color: #cdbdb6;
}

.container {
  margin: 0 auto;
  /* max-width: 1000px; */
}

.container, .buttons-section {
  background-color: var(--beige-color);
}

footer {
  background-color: var(--beige-color);
  padding: 24px;
}

.about-container {
  margin: 0 auto;
  text-align: center;
  /* max-width: 1000px; */
}

.accordion-container {
  /* border: 1px solid black; */
}

.accordion-container button {
  border: none;
  background-color: transparent;
  font-family: inherit;
  padding: 0;
  cursor: pointer;
  font-size: 18px;
  margin-bottom: 12px;
}

.tabs {
  margin: 0 auto;
  text-align: center;
  display: flex;
}

.tab-container {
  margin: 0 auto;
  flex: 1 1 50%;
  border: 1px solid black;
}

.diaphragm-category {
  position: relative;
}

.panel  {
  position: absolute;
  background-color: rgba(255, 255, 255,0.5);
  top: 10%;
  /* right: 0; */
  /* left: 0; */
  padding: 4px;
  /* width: 300px;
  height: 150px; */
  border-top: 1px solid black;
  border-right: 1px solid black;
  width: fit-content;
  height: fit-content;
}

.tab-container section {
  padding: 24px;
}

.microphone-list {
  list-style-type: none;
  display: inline-flex;
}

.pattern-btn {
  border: none;
  background-color: transparent;
  font-family: inherit;
  padding: 0;
  cursor: pointer;

  @media screen and (-ms-high-contrast: active) {
    border: 2px solid currentcolor;
  }
}

.pattern-btn {
  border: 0px solid var(--green-color);
  border-radius:2rem;
  padding: 14px;
  background-color: var(--green-color);
  color: white;
}

.pattern-btn:hover{
  background-color:rgba(17, 194, 153, 1);
  box-shadow: 0px 3px rgba(17, 194, 153, 1);
}

.microphone-list li {
  padding: 12px;
}

.container {
  display:flex;

}

.carousel-container {
  margin: 0 auto;
  height: 250px;
  width: 350px;
}

.carousel-container img {
  margin: 0 auto;
}

.buttons-section select {
  background-color: var(--green-color);
  color: white;
  height: 50px;
  width: 320px;
}

.buttons-section select-selected {
  border: 1px solid transparent;
}

@media screen and (max-width: 940px) {
  .container {
    display: block;
    flex-flow: row wrap;
  }

  .container .canvas-container {
    order: 1;
  }

  .container .detail-container {
    order: -1;
  }
}

@media screen and (max-width: 840px) {
  .tabs {
    flex-direction: column;
  }
}